$main-color: #2eb0ca;
$body-color: rgb(235, 235, 235);
$hover-color: #238396;

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}
@mixin title {
    font-family: 'Amatic SC', cursive;
}

@mixin link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 50%;
    border-radius: 0;
    background-color: $main-color;
    transition: height .5s;
    content:'';
    z-index: -10;
}

@mixin brand {
    margin-left: .2em;
    // margin-top: .05em;
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: $main-color;
    letter-spacing: 2px;
    @include title;
    overflow: hidden;
    &::before{
        position: absolute;
        right: 0%;
        color:white;
        content: 'DB';
        transition: transform .7s;
        transform-origin: right;
        perspective: 1000px;
    }

    span{
        position: relative;
        color: $main-color;
        opacity: 0;
        transition: opacity 1s;
    }
    
    &:hover{
        span{
            opacity: 1;
        }

        &::before{
        transform: rotateY(-90deg);
        }

    }

    i{
        padding-right: .4em;
    }
}

@mixin myInput {
    label{
        display: block;
        margin-top: 1em;
        font-size: 2rem;
    }
    input{
        width: 100%;
        padding: 0.5em;
        margin-bottom: 0em;
        border:none;
        background: rgba(255, 255, 255, 0.452);
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
        border-radius: 5px;
    }
}