@import './variables';

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    @include roboto;
    font-size: 1.6rem;
    background: $body-color;
    // background-color: $main-color;
}

.whiteBlock{
    position: absolute;
    width: 40%;
    height: 25px;
    background: $body-color;
    &--left{
        left: -50px;
        bottom: 0;
        transform: skew(45deg);
    }
    &--right{
        right: -50px;
        bottom: 0;
        transform: skew(-45deg);
    }
    &--top-right{
        width: 20%;
        top: 0;
        left: 56%;
        transform: translateX(-50%) skew(-45deg);
    }
    &--top-left{
        width: 20%;
        top: 0;
        left: 44%;
        transform: translateX(-50%) skew(45deg);
    }

}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
    margin-bottom: 5em;
}

.section__title{
    margin: 1em 0;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.btn{
        position: relative;
        text-transform: uppercase;
        transition: color .5s, border .5s;//nadać na co

        &::after,&::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
        }
        &::before{
            top: 0px;
            left: 0;
        }
        &::after{
            bottom: 0;
            right: 0;
        }

        &:hover{
            color: $main-color;
            background-color: transparent;
            border-color: transparent;
            &::after{
                bottom: -10px;
                right: -10px;
                border-bottom: 5px solid $main-color;
                border-right: 5px solid $main-color;
            }
            &::before{
                top: -10px;
                left: -10px;
                border-top: 5px solid $main-color;
                border-left: 5px solid $main-color;
            }
        }

    }

.scroll-fix{
    &::before{
        display: block;
        margin-top: -62px;
        height: 62px;
        content: '';
    }
}

.shadow-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.897);
}

main{
    position: relative;
}
nav#navbar.navbar{
    i{
        color: white;
    }
    .navbar-brand{
        margin-left: .2em;
        // margin-top: .05em;
        position: relative;
        font-size: 4rem;
        font-weight: bold;
        color: $main-color;
        letter-spacing: 2px;
        @include title;
        overflow: hidden;
        &::before{
            position: absolute;
            right: 0%;
            color:white;
            content: 'DB';
            transition: transform .7s;
            transform-origin: right;
            perspective: 1000px;
        }

        span{
            position: relative;
            color: $main-color;
            opacity: 0;
            transition: opacity 1s;
        }
        
        &:hover{
            span{
                opacity: 1;
            }

            &::before{
            transform: rotateY(-90deg);
            }

        }

        i{
            padding-right: .4em;
        }
    }

    .navbar-toggler{
        font-size: 4rem;
        padding: .3em 1em;
        border: none;

    }

    .navbar-nav{
        font-size: 2.2rem;
        text-transform: capitalize;
        transition: .5s;
        .nav-link{
            position: relative;
            color: white;
            padding: 0.5em 1em;
            &::after{
                @include link;
            }
            &:hover::after{
                height: 80%;
            }
        }
        .active{
            color: rgb(209, 209, 209);
        }

    }
}

//header

header{
    position: relative;
    height: 100vh;
    background-image: url('../img/header-sm.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    overflow: hidden;

    .hero{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);

        .header-title{
            font-size: 10rem;
            @include title;
            color: $main-color;
            span{
                color: white;
            }
        }
        .btn{
            margin-top: 2em;
            padding: .7em 1.4em;
            font-size: 2rem;
            color: white;
            border: 1px solid white;
            &:hover{
                background-color: transparent;
                border-color: transparent;
            }
        }

    }
    .header-text{
        font-size: 2rem;
    }

}


//aboutus

#aboutus{
    .aboutus__bottomTitle{
        display: none;
    }

    .aboutus__elements{
        display: grid;
        height: 800px;
        grid-row: 1fr;
        grid-template-rows: 2fr .3fr 2fr;
    }

    .aboutus__topTitle, .aboutus__phoneTitle, .aboutus__bottomTitle{
        text-transform: capitalize;
        padding: 0 1em;
        margin-bottom: 0.5em;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .aboutus__phoneTitle{
        margin-top: auto;
        text-align: right;
    }
    .one,.three{
        i{
            position: absolute;
            left: 0;
            top: 0;
            padding: .5em;
            font-size: 4rem;
            color: rgba(255, 255, 255, 0.109);
            transition: opacity .5s;
        }
    }
    .aboutus__element{
        position: relative;
        background-size: cover;
        background-position: center;
        flex-basis: 100%;
        overflow: hidden;
        transition: flex-basis .5s;
        &:hover{
            i{
                opacity: 0;
            }
            flex-basis: 250%;
            .aboutus__elementText{
                bottom: 0;
                opacity: 1;
            }
        }

        .aboutus__elementText{
            position: absolute;
            bottom: -100%;
            width: 100%;
            padding: 1em;
            color: white;
            background-color: rgba(0,0,0,.7);
            text-align: center;
            opacity: 0;
            transition: opacity .5s ease-in-out, bottom .5s ease-in-out;

        }
        .aboutus__elementTitle{
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 1em;
        }
    }
    .aboutus__elementOne{
        position: relative;
        display: flex;
        .one{
            background-image: url('../img/experience.jpg');
 
        }
        .two{
            background-image: url('../img/friendship.jpg');
            flex-basis: 100%;
            &:hover{
                flex-basis: 250%;
            }
        }

    }
    .aboutus__elementTwo{
        position: relative;
        display: flex;
        .three{
            background-image: url('../img/simple.jpg');
        }
        .four{
            background-image: url('../img/nice.jpg');
        }
    }
}

//prices
.stonks{
    background-image: url('../img/Stonks.png')!important;
}
.prices{
    position: relative;
    background-image: url('../img/notStonks.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    z-index: 1;
    height: 100vh;
    min-height: 600px;
    .shadow-bg{
        pointer-events: none;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.849);
    }
    .section__title{
        margin-top: 1.3em;
        margin-bottom: .2em;
    }
    .prices__btns{
        display: flex;
        justify-content: space-evenly;

        .prices__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30%;
            font-size: 1.6rem;
            padding: .5em;
            text-transform: uppercase;
            color: white;
            text-align: center;
            border: 1px solid white;
            cursor: pointer;
            transition: color .5s, border .5s ,background-color .5s;
            &:hover{
                background-color: transparent;
                border-color: transparent;
                color: $main-color;
            }
            &:focus{
                box-shadow: none;
            }
            p{
                margin: 0;
            }
        }
    }
    .prices__boxes{
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .prices__box{
            position: absolute;
            display: block;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 350px;
            background-color: #fff;

            &-text{
                text-align: center;

                i{
                    margin-top: .8em;
                    margin-bottom: .5em;
                    font-size: 2rem;
                }
                hr{
                    width: 75%;
                    margin: 0 auto;
                }

                .prices__box-title{
                    margin-bottom: .7em;
                    font-weight: bold;
                    font-size: 2rem;
                }
                .prices__box-text{
                    margin: .5em 0;
                }
                .prices__box-price{
                    margin-top: .2em;
                    position: relative;
                    font-weight: bold;
                    font-size: 3rem;
                    &::before,&::after{
                        position: absolute;
                        transform: translate(-50%, -50%);
                        font-size: 1rem;
                    }
                    
                    &::before{
                        left: 42%;
                        top: 50%;
                        font-size: 1.5rem;
                        content: 'zł';
                    }
                    &::after{
                        right: 30%;
                        top: 65%;
                        content: "/mies";
                    }
                }
            }
            .btn{
                left: 50%;
                transform: translateX(-50%);
                padding: .8em 1.6em;
                margin-top: .5em;
                font-size: 1.3rem;
                color: black;
                color: white;
                background-color: $main-color;
                transition: color .5s, border .5s ,background-color .5s;
                &:hover{
                    background-color: transparent;
                    border-color: white;
                    color: black;
                }
                &:focus{
                    box-shadow: none;
                }
            }
        }
        
        .one{
            display: none;
            border-top: 5px solid $main-color;
        }
        .two{
            display: none;
            border-top: 5px solid rgb(197, 34, 34);
            .prices__box-price{
                &::before{
                    left: 40%;
                }
                &::after{
                    right: 28%;
                }
            }
        }
        .three{
            display: none;
            border-top: 5px solid rgb(209, 189, 72);
            transition: display 1s;
            .prices__box-price{
                &::before{
                    left: 36%;
                }
                &::after{
                    right: 24%;
                }
            }
        }
    }
}







@media(min-width: 767px){
    .wrapper{
        width: 90%;
    }

    .section__title{
        font-size: 4rem;
    }

    .whiteBlock{
        width: 35%;
        height: 40px;
        &--top-right, &--top-left{
            width: 20%;
  
        }

    }
    nav#navbar.navbar{
        
        .navbar-brand{
            font-size: 5rem;
        }
        .navbar-nav{
            font-size: 3rem;
        }

    }
    header{
        .hero{
            .header-title{
                font-size: 10rem;
            }
            .header-text{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
            }
        }
    }
    #aboutus{
        .aboutus__topTitle{
            font-size: 2.5rem;
        }

        .aboutus__bottomTitle{
            font-size: 2.5rem;
            display: block;
            margin-top: 0.5em;
            text-align: right;
        }

        .aboutus__phoneTitle{
            display: none;
        }

        .aboutus__elements{
            display: grid;
            height: 800px;
            grid-template-rows: 2fr 2fr;
        }
    }
    #prices{

        .prices__boxes{

            .prices__box{
                top: 50%;
                width: 350px;
                height: 450px;
            }
            i{
                font-size: 4rem;
            }
            .prices__box-title{
                margin-bottom: 1.2em;
            }
            .prices__box-text{
                margin: 0.6em;
            }
            .prices__box-price{
                font-size: 4rem;
            }
            .prices__box-btn{
                margin-top: 0;
                font-size: 1.8rem;
            }
        }
    }
}

@media(min-width: 992px){
    nav{
    height: 70px;
    }
    nav#navbar.navbar{
        .navbar-brand{
            font-size: 5rem;
        }
        .navbar-nav{
            font-size: 2rem;

            .nav-link::after{
                width: 100%;
            }
        }
    }
    header{
        .hero{
            .header-title{
                font-size: 12rem;
            }
            .header-text{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
            }
        }
    }
}

@media(min-width: 1200px){
    nav#navbar.navbar{
        .navbar-brand{
            margin-left: .5em;
        }

        .nav-link{
            margin: 0 .5em;
        }

        .navbar-nav{
            font-size: 2.5rem;  
        }
    }

    #prices{

        .prices__boxes{

            .prices__box{
                top: 50%;
                width: 550px;
                height: 600px;
            }
            i{
                margin-top: .5em;
                font-size: 6rem;
            }
            .prices__box-title{
                font-size: 3rem;
                margin-bottom: 0.8em;
            }
            .prices__box-text{
                font-size: 1.6rem;
                margin: .8em;
            }
            .prices__box-price{
                font-size: 6rem;
                &::before,&::after{
                    font-size: 2rem;
                }
            }
            .prices__box-btn{
                font-size: 2.5rem;
            }
            
        }
        .section__title{
            margin: 2.5em 0 1em 0;
        }
        .prices__btn{
            font-size: 2.5rem;
        }

    }
}