@import './variables';

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    @include roboto;
    font-size: 1.6rem;
    background-color: #f8f9fa;
    // background-color: $main-color;
}

.whiteBlock{
    position: absolute;
    width: 40%;
    height: 25px;
    background-color: #f8f9fa;
    &--left{
        left: -50px;
        bottom: 0;
        transform: skew(45deg);
    }
    &--right{
        right: -50px;
        bottom: 0;
        transform: skew(-45deg);
    }
    &--top-right{
        top: 0;
        left: 60%;
        transform: translateX(-50%) skew(-45deg);
    }
    &--top-left{
        top: 0;
        left: 40%;
        transform: translateX(-50%) skew(45deg);
    }

}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
}

.section__title{
    margin: 1em 0;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

nav#navbar.navbar{
    i{
        color: white;
    }
    .navbar-brand{
        margin-left: .2em;
        // margin-top: .05em;
        position: relative;
        font-size: 4rem;
        font-weight: bold;
        color: $main-color;
        letter-spacing: 2px;
        @include title;
        overflow: hidden;
        &::before{
            position: absolute;
            right: 0%;
            color:white;
            content: 'DB';
            transition: transform .7s;
            transform-origin: right;
            perspective: 1000px;
        }

        span{
            position: relative;
            color: $main-color;
            opacity: 0;
            transition: opacity 1s;
        }
        
        &:hover{
            span{
                opacity: 1;
            }

            &::before{
            transform: rotateY(-90deg);
            }

        }

        i{
            padding-right: .4em;
        }
    }

    .navbar-toggler{
        font-size: 4rem;
        padding: .3em 1em;
        border: none;

    }

    .navbar-nav{
        font-size: 2.2rem;
        text-transform: capitalize;
        transition: .5s;
        .nav-link{
            position: relative;
            color: white;
            padding: 0.5em 1em;
            &::after{
                @include link;
            }
            &:hover::after{
                height: 80%;
            }
        }
        .active{
            color: rgb(209, 209, 209);
        }

    }
}

//header

header{
    position: relative;
    height: 100vh;
    background-image: url('../img/header-sm.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    overflow: hidden;
    .shadow-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.897);
    }
    .hero{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);

        .header-title{
            font-size: 10rem;
            @include title;
            color: $main-color;
            span{
                color: white;
            }
        }
        
    .btn{
        position: relative;
        margin-top: 2em;
        padding: .7em 1.4em;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        border: 1px solid white;
        transition: color .5s, border .5s;//nadać na co

        &::after,&::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
        }
        &::before{
            top: 0px;
            left: 0;
        }
        &::after{
            bottom: 0;
            right: 0;
        }

        &:hover{
            color: $main-color;
            background-color: transparent;
            border-color: transparent;
            &::after{
                bottom: -10px;
                right: -10px;
                border-bottom: 5px solid $main-color;
                border-right: 5px solid $main-color;
            }
            &::before{
                top: -10px;
                left: -10px;
                border-top: 5px solid $main-color;
                border-left: 5px solid $main-color;
            }
        }

    }
    }
    .header-text{
        font-size: 2rem;
    }

}


//aboutus

#aboutus{
    .aboutus__bottomTitle{
        display: none;
    }

    .aboutus__elements{
        display: grid;
        height: 800px;
        grid-row: 1fr;
        grid-template-rows: 2fr .3fr 2fr;
    }

    .aboutus__topTitle, .aboutus__phoneTitle, .aboutus__bottomTitle{
        text-transform: capitalize;
        padding: 0 1em;
        margin-bottom: 0.5em;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .aboutus__phoneTitle{
        margin-top: auto;
        text-align: right;
    }

    .aboutus__element{
        position: relative;
        background-size: cover;
        background-position: center;
        flex-basis: 100%;
        overflow: hidden;
        transition: flex-basis .5s;
        &:hover{
            flex-basis: 250%;
            .aboutus__elementText{
                bottom: 0;
                opacity: 1;
            }
        }

        .aboutus__elementText{
            position: absolute;
            bottom: -100%;
            width: 100%;
            padding: 1em;
            color: white;
            background-color: rgba(0,0,0,.7);
            text-align: center;
            opacity: 0;
            transition: opacity .5s ease-in-out, bottom .5s ease-in-out;

        }
        .aboutus__elementTitle{
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 1em;
        }
    }
    .aboutus__elementOne{
        position: relative;
        display: flex;
        .one{
            background-image: url('../img/experience.jpg');
 
        }
        .two{
            background-image: url('../img/friendship.jpg');
            flex-basis: 100%;
            &:hover{
                flex-basis: 250%;
            }
        }

    }
    .aboutus__elementTwo{
        position: relative;
        display: flex;
        .three{
            background-image: url('../img/simple.jpg');
        }
        .four{
            background-image: url('../img/nice.jpg');
        }
    }
}

@media(min-width: 768px){
    .wrapper{
        width: 90%;
    }

    .section__title{
        font-size: 4rem;
    }

    .whiteBlock{
        width: 35%;
        height: 40px;
    }
    nav#navbar.navbar{
        
        .navbar-brand{
            font-size: 5rem;
        }
        .navbar-nav{
            font-size: 3rem;
        }

    }
    header{
        .hero{
            .header-title{
                font-size: 10rem;
            }
            .header-text{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
            }
        }
    }
    #aboutus{
        .aboutus__topTitle{
            font-size: 2.5rem;
        }

        .aboutus__bottomTitle{
            font-size: 2.5rem;
            display: block;
            margin-top: 0.5em;
            text-align: right;
        }

        .aboutus__phoneTitle{
            display: none;
        }

        .aboutus__elements{
            display: grid;
            height: 800px;
            grid-template-rows: 2fr 2fr;
        }
    }
}

@media(min-width: 992px){
    nav{
    height: 70px;
    }
    nav#navbar.navbar{
        .navbar-brand{
            font-size: 5rem;
        }
        .navbar-nav{
            font-size: 2rem;

            .nav-link::after{
                width: 100%;
            }
        }
    }
    header{
        .hero{
            .header-title{
                font-size: 12rem;
            }
            .header-text{
                font-size: 2rem;
            }
            .btn{
                font-size: 2rem;
            }
        }
    }
}

@media(min-width: 1200px){
    nav#navbar.navbar{
        .navbar-brand{
            margin-left: .5em;
        }

        .nav-link{
            margin: 0 .5em;
        }

        .navbar-nav{
            font-size: 2.5rem;  
        }
    }
    footer{
    background-image: url('../img/header-lg.jpg');
    }
}