@import './variables';

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    @include roboto;
    font-size: 1.6rem;
    background: $body-color;
    // background-color: $main-color;
}

.title{
    margin: 1em 0;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.secondary-btn{
    position: relative;
    text-transform: uppercase;
    min-width: 110px;
    padding: .7em 1.4em;
    margin: 1em 0;
    font-size: 1.6rem;
    color: white;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: top right;
        transition: .5s;
        content: '';
        z-index: -1;
    }

    &:hover{

        &::after{
            transform-origin: bottom left;
            transform: scaleX(1);
            background-color: #238396;
        }
    }

}

.show{
    display: block!important;
}

.rotate{
    transform: rotateZ(180deg);
}

.gray{
    background-color: rgba(0, 0, 0, 0.1);
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: black;

    &__back{
        display: inline-block;
        font-size: 2.5rem;
        color: white;
        text-decoration: none;
        padding: 10px 40px;
        transition: color .3s;
        &:hover{
            color: $hover-color;
            text-decoration: none;
        }
    }

    &__logo{
        @include brand;
        position: absolute;
        display: inline-block;
        // perspective: 1000px;
        left: 47%;
        transform: translateX(-50%);
        line-height: 60px;
        font-size: 3rem;
        &:hover{
            text-decoration: none;
            color: $main-color;
        }

    }

    &__profile{
        position: absolute;
        display: inline-block;
        width: 200px;
        right: 20px;
        padding: 10px 1em;
        border-radius: 5px;
        z-index: 100;

        &-img{
            background-color: #fff;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1.5em;
        }
        &-name{
            transition: color .3s;
            display: inline-block;
            color: white;
        }
        
        &-head{
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                margin: 0;
            }
        }
        &:hover{
            cursor: pointer;
            .header__profile-name{
                color: $main-color;
            }
        }
        >.header__profile__expand{
            transform:scaleY(1) ;
        }
    }
    &__dropdown-menu{
        display: block;
        width: 180px;
        margin: .5em 0;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.144);
        transform: scaleY(0);
        transform-origin: top;
        transition: transform .3s;

        ul{
            padding: .5em 0;
            text-align: center;
            list-style: none;
        }
        a{
            display: inline-block;
            padding: .5em 2em;
            color: black;
            transition: color .3s;
            &:hover{
                text-decoration: none;
                color: $main-color;
            }
        }

        hr{
            width: 60%;
            margin: 0 auto;
        }
    }
}

//aside nav

.nav{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 200px;
    padding-top: 1em;
    border-right: 1px solid black;
    background-color: #b6b6b691;
    z-index: 0;
    transform-origin: left;
    transform: translateX(-200px);
    transition: transform .3s;
    ul{
        list-style: none;
    }
    
    .list{
        width: 100%;
        z-index: 0;
        
        &__main-fun{
            // margin-bottom: 1em;
            padding: 0 1em;
            width: 100%;
            a{
                border-bottom: 1px solid black;
                position: relative;
                display: inline-block;
                width: 100%;
                padding: .5em .5em;
                margin: .3em 0;
                color: black;
                transition: color .5s; 
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                overflow: hidden;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 2px;
                    background-color: black;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    content: '';
                    z-index: -1;
                    transition: width .5s;
                }

                &:hover{
                    text-decoration: none;
                    color: $main-color;
                    &::before{
                        width: 100%;
                    }
                }
            }
            .list__secondary{
                display: none;
                padding-left: 1em;
            }
        }
    }
    .nav-btn{
        
        position: absolute;
        top: 0px;
        right: -50px;
        font-size: 3rem;
        padding:.3em;
        color: $main-color;
        cursor: pointer;
        transition: color .2s;
        &:hover{
            color: $hover-color;
        }
        &:focus-visible{
            border: 1px solid black;
        }
    }
}

.nav-expand{
    transform: translateX(0);
}

//main
main{
    position: relative;
    display: flex;
    min-height: 100vh;
    section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//form-reg
.form{
    position: relative;
    width: 500px;
    &__body{
        // width: 250px;
        margin: 0 auto;
        label{
            display: block;
            margin-top: 1em;
            font-size: 2rem;
        }
        input{
            width: 100%;
            padding: 0.5em;
            margin-bottom: 0em;
            border:none;
            background: rgba(255, 255, 255, 0.452);
            box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
            border-radius: 5px;
        }
        .form__input-box{
            position: relative;

            i{
                position: absolute;
                right: 15px;
                bottom: 8px;
                font-size: 2.5rem;
                color: $main-color;
            }
        }

        button{
            display: block;
            margin: 2em auto;
            font-size: 2rem;
        }

        .error{
            margin-top: 1em;
            color: red;
        }
    }

    &__footer{
        display: block;
        text-align: right;
    }

}
//footer
footer{
    width: 100%;
    text-align: center;
    padding: .5em;
    background-color: black;
    color: white;
    p{
        margin: 0;
    }
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
}

.small-device{
    display: none;
}
@media(max-width: 768px){
    .small-device{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $body-color;

        p{
            font-size: 4rem;
            font-weight: bold;
        }

        .dev-img-box{
            position: relative;
            margin-top: 2em;
            
            .phone{
                font-size: 12rem;
            }

            &::before{
                position: absolute;
                top: -10px;
                left: -10px;
                height: 135%;
                width: 5px;
                background-color: red;
                transform-origin: top;
                content: '';
            }

            &::before{
                transform: rotateZ(-32deg);
            }


        }

    }

    .header{
        display: none;
    }

    footer{
        display: none;
    }

    main{
        display: none;
    }

}