@charset "UTF-8";
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: #ebebeb;
}

.visibility {
  visibility: hidden;
}

.whiteBlock {
  position: absolute;
  width: 40%;
  height: 25px;
  background: #ebebeb;
}

.whiteBlock--left {
  left: -50px;
  bottom: 0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.whiteBlock--right {
  right: -50px;
  bottom: 0;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.whiteBlock--top-right {
  width: 20%;
  top: 0;
  left: 56%;
  -webkit-transform: translateX(-50%) skew(-45deg);
          transform: translateX(-50%) skew(-45deg);
}

.whiteBlock--top-left {
  width: 20%;
  top: 0;
  left: 44%;
  -webkit-transform: translateX(-50%) skew(45deg);
          transform: translateX(-50%) skew(45deg);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
  margin-bottom: 5em;
}

.section__title {
  margin: 1em 0;
  color: #2eb0ca;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.btn {
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color .5s, border .5s;
  transition: color .5s, border .5s;
}

.btn::after, .btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
  transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
}

.btn::before {
  top: 0px;
  left: 0;
}

.btn::after {
  bottom: 0;
  right: 0;
}

.btn:hover {
  color: #2eb0ca;
  background-color: transparent;
  border-color: transparent;
}

.btn:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 5px solid #2eb0ca;
  border-right: 5px solid #2eb0ca;
}

.btn:hover::before {
  top: -10px;
  left: -10px;
  border-top: 5px solid #2eb0ca;
  border-left: 5px solid #2eb0ca;
}

.secondary-btn {
  position: relative;
  text-transform: uppercase;
}

.secondary-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: .5s;
  transition: .5s;
  content: '';
  z-index: -1;
}

.secondary-btn:hover::after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.scroll-fix::before {
  display: block;
  margin-top: -62px;
  height: 62px;
  content: '';
}

.shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.897);
}

main {
  position: relative;
}

nav#navbar.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

nav#navbar.navbar i {
  color: white;
}

nav#navbar.navbar .navbar-brand {
  margin-left: .2em;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  color: #2eb0ca;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
}

nav#navbar.navbar .navbar-brand::before {
  position: absolute;
  right: 0%;
  color: white;
  content: 'DB';
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

nav#navbar.navbar .navbar-brand span {
  position: relative;
  color: #2eb0ca;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

nav#navbar.navbar .navbar-brand:hover span {
  opacity: 1;
}

nav#navbar.navbar .navbar-brand:hover::before {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

nav#navbar.navbar .navbar-brand i {
  padding-right: .4em;
}

nav#navbar.navbar .navbar-toggler {
  font-size: 4rem;
  padding: .3em 1em;
  border: none;
}

nav#navbar.navbar .navbar-nav {
  font-size: 2.2rem;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
}

nav#navbar.navbar .navbar-nav .nav-link {
  position: relative;
  color: white;
  padding: 0.5em 1em;
}

nav#navbar.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0;
  width: 50%;
  border-radius: 0;
  background-color: #2eb0ca;
  -webkit-transition: height .5s;
  transition: height .5s;
  content: '';
  z-index: -10;
}

nav#navbar.navbar .navbar-nav .nav-link:hover::after {
  height: 80%;
}

nav#navbar.navbar .navbar-nav .active {
  color: #d1d1d1;
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/header-sm.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 40%;
  overflow: hidden;
}

header .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}

header .hero .header-title {
  font-size: 10rem;
  font-family: 'Amatic SC', cursive;
  color: #2eb0ca;
}

header .hero .header-title span {
  color: white;
}

header .hero .btn {
  margin-top: 2em;
  padding: .7em 1.4em;
  font-size: 2rem;
  color: white;
  border: 1px solid white;
}

header .hero .btn:hover {
  background-color: transparent;
  border-color: transparent;
}

header .header-text {
  font-size: 2rem;
}

#aboutus {
  overflow: hidden;
}

#aboutus .aboutus__bottomTitle {
  display: none;
}

#aboutus .aboutus__elements {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-rows: 2fr 2fr;
      grid-template-rows: 2fr 2fr;
}

#aboutus .aboutus__topTitle, #aboutus .aboutus__phoneTitle, #aboutus .aboutus__bottomTitle {
  text-transform: capitalize;
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: bold;
}

#aboutus .aboutus__phoneTitle {
  margin-top: auto;
  text-align: right;
}

#aboutus .one i, #aboutus .three i {
  position: absolute;
  left: 0;
  top: 0;
  padding: .5em;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.109);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#aboutus .aboutus__element {
  position: relative;
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-flex-basis .5s;
  transition: -webkit-flex-basis .5s;
  transition: flex-basis .5s;
  transition: flex-basis .5s, -webkit-flex-basis .5s, -ms-flex-preferred-size .5s;
  padding-top: 20em;
}

#aboutus .aboutus__element:hover {
  -ms-flex-preferred-size: 250%;
      flex-basis: 250%;
}

#aboutus .aboutus__element:hover i {
  opacity: 0;
}

#aboutus .aboutus__element:hover .aboutus__elementText {
  bottom: 0;
  opacity: 1;
}

#aboutus .aboutus__element .aboutus__elementText {
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
  transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
}

#aboutus .aboutus__element .aboutus__elementTitle {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1em;
}

#aboutus .aboutus__elementOne {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutus .aboutus__elementOne .one {
  background-image: url("../img/experience.jpg");
}

#aboutus .aboutus__elementOne .two {
  background-image: url("../img/friendship.jpg");
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#aboutus .aboutus__elementOne .two:hover {
  -ms-flex-preferred-size: 250%;
      flex-basis: 250%;
}

#aboutus .aboutus__elementTwo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutus .aboutus__elementTwo .three {
  background-image: url("../img/simple.jpg");
}

#aboutus .aboutus__elementTwo .four {
  background-image: url("../img/nice.jpg");
}

.prices {
  position: relative;
  background-image: url("../img/prices-sm.jpg");
  background-size: cover;
  background-position: top;
  overflow: hidden;
  z-index: 1;
}

.prices .shadow-bg {
  pointer-events: none;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.849);
}

.prices .section__title {
  margin-top: 2em;
  margin-bottom: .2em;
}

.prices .prices__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prices .prices__btns .prices__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30%;
  font-size: 1.6rem;
  padding: .5em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: color .5s, border .5s ,background-color .5s;
  transition: color .5s, border .5s ,background-color .5s;
}

.prices .prices__btns .prices__btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: #2eb0ca;
}

.prices .prices__btns .prices__btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.prices .prices__btns .prices__btn p {
  margin: 0;
}

.prices .prices__boxes {
  width: 100%;
  overflow: hidden;
}

.prices .prices__boxes .prices__box {
  display: block;
  margin: 2em auto;
  width: 250px;
  background-color: #fff;
}

.prices .prices__boxes .prices__box-text {
  text-align: center;
}

.prices .prices__boxes .prices__box-text i {
  margin-top: .8em;
  margin-bottom: .5em;
  font-size: 2rem;
}

.prices .prices__boxes .prices__box-text hr {
  width: 75%;
  margin: 0 auto;
}

.prices .prices__boxes .prices__box-text .prices__box-title {
  margin-bottom: .7em;
  font-weight: bold;
  font-size: 2rem;
}

.prices .prices__boxes .prices__box-text .prices__box-text {
  margin: .5em 0;
}

.prices .prices__boxes .prices__box-text .prices__box-price {
  margin-top: .2em;
  position: relative;
  font-weight: bold;
  font-size: 3rem;
}

.prices .prices__boxes .prices__box-text .prices__box-price::before, .prices .prices__boxes .prices__box-text .prices__box-price::after {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
}

.prices .prices__boxes .prices__box-text .prices__box-price::before {
  left: 42%;
  top: 50%;
  font-size: 1.5rem;
  content: 'zł';
}

.prices .prices__boxes .prices__box-text .prices__box-price::after {
  right: 30%;
  top: 65%;
  content: "/mies";
}

.prices .prices__boxes .prices__box .secondary-btn {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: .8em 1.6em;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2eb0ca;
  overflow: hidden;
}

.prices .prices__boxes .prices__box .secondary-btn:hover::after {
  background-color: #238396;
}

.prices .prices__boxes .prices__box .secondary-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.prices .prices__boxes .prices__box a {
  color: white;
  text-decoration: none;
  padding: .4em .8em;
}

.prices .prices__boxes .one {
  display: block;
  border-top: 5px solid #2eb0ca;
}

.prices .prices__boxes .two {
  display: none;
  border-top: 5px solid #c52222;
}

.prices .prices__boxes .two .prices__box-price::before {
  left: 40%;
}

.prices .prices__boxes .two .prices__box-price::after {
  right: 28%;
}

.prices .prices__boxes .three {
  display: none;
  border-top: 5px solid #d1bd48;
  -webkit-transition: display 1s;
  transition: display 1s;
}

.prices .prices__boxes .three .prices__box-price::before {
  left: 36%;
}

.prices .prices__boxes .three .prices__box-price::after {
  right: 24%;
}

#contact form {
  padding: 2em;
}

#contact label {
  display: block;
  padding: 1em 0 .3em 0;
  font-size: 2rem;
}

#contact label + input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0em;
  border: none;
  background: rgba(255, 255, 255, 0.452);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

#contact textarea {
  display: block;
  width: 100%;
  padding: .5em;
  resize: vertical;
  border: none;
  background: rgba(255, 255, 255, 0.452);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

#contact form > div {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact div > button {
  min-width: 110px;
  padding: .7em 1.4em;
  margin: .5em 2.5em;
  font-size: 1.6rem;
  color: white;
  background-color: #2eb0ca;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1031;
}

#contact div > button:hover::after {
  background-color: #238396;
  z-index: 1033;
}

footer {
  position: relative;
  color: white;
}

footer .footer__body {
  padding: 2em;
  background-image: url("../img/footer-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

footer .footer__body .wrapper {
  width: 100%;
  height: 100%;
  margin: 5em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'address address' 'social social' 'contact contact';
}

footer .footer__body .wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

footer .footer__body .wrapper .footer__header {
  font-size: 2rem;
  margin-bottom: .9em;
}

footer .footer__body .wrapper .footer__address {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: address;
  padding-bottom: 2em;
}

footer .footer__body .wrapper .footer__findus {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: social;
  padding-bottom: 2em;
}

footer .footer__body .wrapper .footer__findus .footer__socials a:nth-child(2) i {
  margin: 0 0.5em;
}

footer .footer__body .wrapper .footer__findus .footer__socials i {
  font-size: 2rem;
  color: #2eb0ca;
  -webkit-transition: color .5s;
  transition: color .5s;
}

footer .footer__body .wrapper .footer__findus .footer__socials i:hover {
  color: #226a9b;
}

footer .footer__body .wrapper .footer__contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: contact;
}

footer .shadow-bg {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.472);
  z-index: 0;
}

footer .footer__bottom {
  position: absolute;
  bottom: 0;
  padding: 1em;
  height: 50px;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  background-color: black;
}

footer .footer__bottom a {
  color: white;
}

.body-shadow {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.493);
  z-index: 1030;
}

.loginPop {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1031;
  padding: 2em;
  border-radius: 8px;
}

.loginPop__body {
  position: relative;
  min-width: 300px;
  height: 100%;
}

.loginPop__body label {
  display: block;
  padding: 1em 0 .3em 0;
  font-size: 1.6rem;
}

.loginPop__body label + input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0em;
  border: none;
  background: rgba(255, 255, 255, 0.452);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

.loginPop__body button {
  position: relative;
  width: 100%;
  padding: .7em 1.4em;
  margin: 3em 0 2em 0;
  font-size: 1.6rem;
  color: white;
  background-color: #2eb0ca;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.loginPop__body button::after {
  z-index: -1;
}

.loginPop__body button:hover::after {
  background-color: #238396;
}

.loginPop__close {
  position: absolute;
  right: -10px;
  top: -20px;
  font-size: 3rem;
  padding: 0 .5em;
  color: #2eb0ca;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.loginPop__close:hover {
  color: #217283;
}

.loginPop__header {
  text-align: center;
  color: #2eb0ca;
  font-size: 2rem;
}

.loginPop a {
  text-decoration: none;
  color: #2eb0ca;
}

.loginPop a:hover {
  color: #217283;
}

@media (min-width: 767px) {
  .wrapper {
    width: 90%;
  }
  .section__title {
    font-size: 4rem;
  }
  .whiteBlock {
    width: 35%;
    height: 40px;
  }
  .whiteBlock--top-right, .whiteBlock--top-left {
    width: 20%;
  }
  nav#navbar.navbar .navbar-brand {
    font-size: 5rem;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 3rem;
  }
  header .hero .header-title {
    font-size: 10rem;
  }
  header .hero .header-text {
    font-size: 2rem;
  }
  header .hero .btn {
    font-size: 2rem;
  }
  #aboutus .aboutus__topTitle {
    font-size: 2.5rem;
  }
  #aboutus .aboutus__bottomTitle {
    font-size: 2.5rem;
    display: block;
    margin-top: 0.5em;
    text-align: right;
  }
  #aboutus .aboutus__phoneTitle {
    display: none;
  }
  #aboutus .aboutus__elements {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
  }
  #prices .prices__boxes .prices__box {
    top: 50%;
    width: 350px;
  }
  #prices .prices__boxes i {
    font-size: 4rem;
  }
  #prices .prices__boxes .prices__box-title {
    margin-bottom: 1.2em;
  }
  #prices .prices__boxes .prices__box-text {
    margin: 0.6em;
  }
  #prices .prices__boxes .prices__box-price {
    font-size: 4rem;
  }
  #prices .prices__boxes .prices__box-btn {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.8rem;
  }
  #contact form > div {
    margin-top: 3em;
  }
  #contact div > input {
    padding: .7em 1.4em;
    font-size: 2rem;
  }
  footer .footer__body {
    background-image: url("../img/footer-sm.jpg");
  }
  footer .footer__body .wrapper .footer__header {
    font-size: 3rem;
  }
  footer .footer__body .wrapper .footer__findus .footer__socials i {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  nav {
    height: 70px;
  }
  nav#navbar.navbar {
    background-color: none;
  }
  nav#navbar.navbar .navbar-brand {
    font-size: 5rem;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 2rem;
  }
  nav#navbar.navbar .navbar-nav .nav-link::after {
    width: 100%;
  }
  header .hero .header-title {
    font-size: 12rem;
  }
  header .hero .header-text {
    font-size: 2rem;
  }
  header .hero .btn {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  nav#navbar.navbar .navbar-brand {
    margin-left: .5em;
  }
  nav#navbar.navbar .nav-link {
    margin: 0 .5em;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 2.5rem;
  }
  #prices {
    background-image: url("../img/prices-lg.jpg");
  }
  #prices .prices__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #prices .prices__boxes .prices__box {
    display: block;
    width: 30%;
  }
  #prices .prices__boxes i {
    margin-top: .5em;
    font-size: 6rem;
  }
  #prices .prices__boxes .prices__box-title {
    font-size: 3rem;
    margin-bottom: 0.8em;
  }
  #prices .prices__boxes .prices__box-text {
    font-size: 1.6rem;
    margin: .8em;
  }
  #prices .prices__boxes .prices__box-price {
    font-size: 6rem;
  }
  #prices .prices__boxes .prices__box-price::before, #prices .prices__boxes .prices__box-price::after {
    font-size: 2rem;
  }
  #prices .prices__boxes .prices__box-price::after {
    right: 15%;
  }
  #prices .prices__boxes .prices__box-price::before {
    left: 35%;
  }
  #prices .prices__boxes .one .prices__box-price::after {
    right: 20%;
  }
  #prices .prices__boxes .one .prices__box-price::before {
    left: 40%;
  }
  #prices .prices__boxes .three .prices__box-price::after {
    right: 10%;
  }
  #prices .prices__boxes .three .prices__box-price::before {
    left: 30%;
  }
  #prices .prices__boxes .prices__box-btn {
    font-size: 2.5rem;
  }
  #prices .section__title {
    margin: 2.5em 0 1em 0;
  }
  #prices .prices__btn {
    font-size: 2.5rem;
  }
  #prices .wrapper .prices__btn {
    display: none;
  }
  footer .footer__body {
    background-image: url("../img/footer-lg.jpg");
  }
  .loginPop {
    padding: 3em;
  }
  .loginPop__header {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=mian.css.map */