*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #f8f9fa;
}

.whiteBlock {
  position: absolute;
  width: 40%;
  height: 25px;
  background-color: #f8f9fa;
}

.whiteBlock--left {
  left: -50px;
  bottom: 0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.whiteBlock--right {
  right: -50px;
  bottom: 0;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.whiteBlock--top-right {
  top: 0;
  left: 60%;
  -webkit-transform: translateX(-50%) skew(-45deg);
          transform: translateX(-50%) skew(-45deg);
}

.whiteBlock--top-left {
  top: 0;
  left: 40%;
  -webkit-transform: translateX(-50%) skew(45deg);
          transform: translateX(-50%) skew(45deg);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0;
}

.section__title {
  margin: 1em 0;
  color: #2eb0ca;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

nav#navbar.navbar i {
  color: white;
}

nav#navbar.navbar .navbar-brand {
  margin-left: .2em;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  color: #2eb0ca;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
}

nav#navbar.navbar .navbar-brand::before {
  position: absolute;
  right: 0%;
  color: white;
  content: 'DB';
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

nav#navbar.navbar .navbar-brand span {
  position: relative;
  color: #2eb0ca;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

nav#navbar.navbar .navbar-brand:hover span {
  opacity: 1;
}

nav#navbar.navbar .navbar-brand:hover::before {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

nav#navbar.navbar .navbar-brand i {
  padding-right: .4em;
}

nav#navbar.navbar .navbar-toggler {
  font-size: 4rem;
  padding: .3em 1em;
  border: none;
}

nav#navbar.navbar .navbar-nav {
  font-size: 2.2rem;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
}

nav#navbar.navbar .navbar-nav .nav-link {
  position: relative;
  color: white;
  padding: 0.5em 1em;
}

nav#navbar.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0;
  width: 50%;
  border-radius: 0;
  background-color: #2eb0ca;
  -webkit-transition: height .5s;
  transition: height .5s;
  content: '';
  z-index: -10;
}

nav#navbar.navbar .navbar-nav .nav-link:hover::after {
  height: 80%;
}

nav#navbar.navbar .navbar-nav .active {
  color: #d1d1d1;
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../img/header-sm.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 40%;
  overflow: hidden;
}

header .shadow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.897);
}

header .hero {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}

header .hero .header-title {
  font-size: 10rem;
  font-family: 'Amatic SC', cursive;
  color: #2eb0ca;
}

header .hero .header-title span {
  color: white;
}

header .hero .btn {
  position: relative;
  margin-top: 2em;
  padding: .7em 1.4em;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  -webkit-transition: color .5s, border .5s;
  transition: color .5s, border .5s;
}

header .hero .btn::after, header .hero .btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
  transition: top .5s, bottom .5s, right .5s, left .5s, border-width .5s;
}

header .hero .btn::before {
  top: 0px;
  left: 0;
}

header .hero .btn::after {
  bottom: 0;
  right: 0;
}

header .hero .btn:hover {
  color: #2eb0ca;
  background-color: transparent;
  border-color: transparent;
}

header .hero .btn:hover::after {
  bottom: -10px;
  right: -10px;
  border-bottom: 5px solid #2eb0ca;
  border-right: 5px solid #2eb0ca;
}

header .hero .btn:hover::before {
  top: -10px;
  left: -10px;
  border-top: 5px solid #2eb0ca;
  border-left: 5px solid #2eb0ca;
}

header .header-text {
  font-size: 2rem;
}

#aboutus .aboutus__bottomTitle {
  display: none;
}

#aboutus .aboutus__elements {
  display: -ms-grid;
  display: grid;
  height: 800px;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-rows: 2fr .3fr 2fr;
      grid-template-rows: 2fr .3fr 2fr;
}

#aboutus .aboutus__topTitle, #aboutus .aboutus__phoneTitle, #aboutus .aboutus__bottomTitle {
  text-transform: capitalize;
  padding: 0 1em;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: bold;
}

#aboutus .aboutus__phoneTitle {
  margin-top: auto;
  text-align: right;
}

#aboutus .aboutus__element {
  position: relative;
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-flex-basis .5s;
  transition: -webkit-flex-basis .5s;
  transition: flex-basis .5s;
  transition: flex-basis .5s, -webkit-flex-basis .5s, -ms-flex-preferred-size .5s;
}

#aboutus .aboutus__element:hover {
  -ms-flex-preferred-size: 250%;
      flex-basis: 250%;
}

#aboutus .aboutus__element:hover .aboutus__elementText {
  bottom: 0;
  opacity: 1;
}

#aboutus .aboutus__element .aboutus__elementText {
  position: absolute;
  bottom: -100%;
  width: 100%;
  padding: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
  transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
}

#aboutus .aboutus__element .aboutus__elementTitle {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1em;
}

#aboutus .aboutus__elementOne {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutus .aboutus__elementOne .one {
  background-image: url("../img/experience.jpg");
}

#aboutus .aboutus__elementOne .two {
  background-image: url("../img/friendship.jpg");
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#aboutus .aboutus__elementOne .two:hover {
  -ms-flex-preferred-size: 250%;
      flex-basis: 250%;
}

#aboutus .aboutus__elementTwo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutus .aboutus__elementTwo .three {
  background-image: url("../img/simple.jpg");
}

#aboutus .aboutus__elementTwo .four {
  background-image: url("../img/nice.jpg");
}

@media (min-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .section__title {
    font-size: 4rem;
  }
  .whiteBlock {
    width: 35%;
    height: 40px;
  }
  nav#navbar.navbar .navbar-brand {
    font-size: 5rem;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 3rem;
  }
  header .hero .header-title {
    font-size: 10rem;
  }
  header .hero .header-text {
    font-size: 2rem;
  }
  header .hero .btn {
    font-size: 2rem;
  }
  #aboutus .aboutus__topTitle {
    font-size: 2.5rem;
  }
  #aboutus .aboutus__bottomTitle {
    font-size: 2.5rem;
    display: block;
    margin-top: 0.5em;
    text-align: right;
  }
  #aboutus .aboutus__phoneTitle {
    display: none;
  }
  #aboutus .aboutus__elements {
    display: -ms-grid;
    display: grid;
    height: 800px;
    -ms-grid-rows: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
  }
}

@media (min-width: 992px) {
  nav {
    height: 70px;
  }
  nav#navbar.navbar .navbar-brand {
    font-size: 5rem;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 2rem;
  }
  nav#navbar.navbar .navbar-nav .nav-link::after {
    width: 100%;
  }
  header .hero .header-title {
    font-size: 12rem;
  }
  header .hero .header-text {
    font-size: 2rem;
  }
  header .hero .btn {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  nav#navbar.navbar .navbar-brand {
    margin-left: .5em;
  }
  nav#navbar.navbar .nav-link {
    margin: 0 .5em;
  }
  nav#navbar.navbar .navbar-nav {
    font-size: 2.5rem;
  }
  footer {
    background-image: url("../img/header-lg.jpg");
  }
}
/*# sourceMappingURL=mian.css.map */