*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: #ebebeb;
}

.show {
  display: block !important;
}

.rotate {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
}

.header__back {
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-right: 1px solid white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__back:hover {
  color: #238396;
  text-decoration: none;
}

.header__logo {
  margin-left: .2em;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  color: #2eb0ca;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 60px;
  font-size: 3rem;
}

.header__logo::before {
  position: absolute;
  right: 0%;
  color: white;
  content: 'DB';
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.header__logo span {
  position: relative;
  color: #2eb0ca;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.header__logo:hover span {
  opacity: 1;
}

.header__logo:hover::before {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.header__logo i {
  padding-right: .4em;
}

.header__logo:hover {
  text-decoration: none;
  color: #2eb0ca;
}

.header__profile {
  position: absolute;
  display: inline-block;
  right: 0;
  padding: 10px 3em;
  border-left: 1px solid white;
}

.header__profile-img {
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5em;
}

.header__profile-name {
  display: inline-block;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 1000px;
  width: 200px;
  padding-top: 1em;
  border-right: 1px solid black;
  background-color: #b6b6b691;
  z-index: 0;
}

.nav ul {
  list-style: none;
}

.nav .list {
  width: 100%;
  z-index: 0;
}

.nav .list__main-fun {
  padding: 0 1em;
  width: 100%;
}

.nav .list__main-fun a {
  border-bottom: 1px solid black;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: .5em .5em;
  margin: .3em 0;
  color: black;
  -webkit-transition: color .5s;
  transition: color .5s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.nav .list__main-fun a::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: '';
  z-index: -1;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.nav .list__main-fun a:hover {
  text-decoration: none;
  color: #2eb0ca;
}

.nav .list__main-fun a:hover::before {
  width: 100%;
}

.nav .list__main-fun .list__secondary {
  display: none;
  padding-left: 1em;
}

footer {
  width: 100%;
  text-align: center;
  padding: .5em;
  background-color: black;
  color: white;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.small-device {
  display: none;
}

@media (max-width: 768px) {
  .small-device {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ebebeb;
  }
  .small-device p {
    font-size: 4rem;
    font-weight: bold;
  }
  .small-device .dev-img-box {
    position: relative;
    margin-top: 2em;
  }
  .small-device .dev-img-box .phone {
    font-size: 12rem;
  }
  .small-device .dev-img-box::before {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 135%;
    width: 5px;
    background-color: red;
    -webkit-transform-origin: top;
            transform-origin: top;
    content: '';
  }
  .small-device .dev-img-box::before {
    -webkit-transform: rotateZ(-32deg);
            transform: rotateZ(-32deg);
  }
}
/*# sourceMappingURL=panel.css.map */