*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: #ebebeb;
}

.error {
  margin-top: 1em;
  color: #bd0202;
}

.error--output {
  text-align: center;
  color: #bd0202;
  margin-bottom: 4em;
}

.success {
  margin-top: 1em;
  color: #005a00;
}

.success--output {
  text-align: center;
  color: #005a00;
  margin-bottom: 4em;
}

.title {
  margin: 1em 0;
  color: #2eb0ca;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.checkboxContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkboxContainer label {
  position: absolute;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  background-color: #fff;
}

.checkboxContainer label:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.checkboxContainer input:focus {
  outline: none;
}

.checkboxContainer input:focus + label {
  border: 1px solid black;
}

.checkboxContainer input:checked + label::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "\2713";
  color: #2eb0ca;
  font-weight: bold;
}

.secondary-btn {
  position: relative;
  text-transform: uppercase;
  min-width: 110px;
  padding: 0.7em 1.4em;
  margin: 1em 0;
  font-size: 1.6rem;
  color: white;
  background-color: #2eb0ca;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.secondary-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  z-index: -1;
}

.secondary-btn:hover::after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #238396;
}

.secondary-btn--danger {
  background-color: #eb3c3c;
}

.secondary-btn--danger:hover::after {
  background-color: rgba(255, 0, 0, 0.993);
}

.secondary-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: block !important;
}

.rotate {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
}

.header__back {
  display: inline-block;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__back:hover {
  color: #238396;
  text-decoration: none;
}

.header__logo {
  margin-left: .2em;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  color: #2eb0ca;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  overflow: hidden;
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 60px;
  font-size: 3rem;
}

.header__logo::before {
  position: absolute;
  right: 0%;
  color: white;
  content: 'DB';
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.header__logo span {
  position: relative;
  color: #2eb0ca;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.header__logo:hover span {
  opacity: 1;
}

.header__logo:hover::before {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.header__logo i {
  padding-right: .4em;
}

.header__logo:hover {
  text-decoration: none;
  color: #2eb0ca;
}

.header__profile {
  position: absolute;
  display: inline-block;
  width: 200px;
  right: 20px;
  padding: 10px 1em;
  border-radius: 5px;
  z-index: 100;
}

.header__profile-img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.5em;
}

.header__profile-name {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  color: white;
}

.header__profile-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile-head p {
  margin: 0;
}

.header__profile:hover {
  cursor: pointer;
}

.header__profile:hover .header__profile-name {
  color: #2eb0ca;
}

.header__profile > .header__profile__expand {
  display: block;
}

.header__dropdown-menu {
  display: none;
  width: 180px;
  margin: 0.5em 0;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.144);
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.144);
}

.header__dropdown-menu ul {
  padding: 0.5em 0;
  text-align: center;
  list-style: none;
}

.header__dropdown-menu a {
  display: inline-block;
  padding: 0.5em 2em;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__dropdown-menu a:hover {
  text-decoration: none;
  color: #2eb0ca;
}

.header__dropdown-menu hr {
  width: 60%;
  margin: 0 auto;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 200px;
  padding-top: 1em;
  border-right: 1px solid black;
  background-color: #d8d8d8;
  -webkit-box-shadow: 10px 0px 20px #0000004a;
          box-shadow: 10px 0px 20px #0000004a;
  z-index: 10;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav ul {
  list-style: none;
}

.nav .list {
  width: 100%;
  z-index: 10;
}

.nav .list__main-fun {
  padding: 0 1em;
  width: 100%;
}

.nav .list__main-fun a {
  border-bottom: 1px solid black;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 0.3em 0;
  color: black;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.nav .list__main-fun a::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: "";
  z-index: -1;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.nav .list__main-fun a:hover {
  text-decoration: none;
  color: #2eb0ca;
}

.nav .list__main-fun a:hover::before {
  width: 100%;
}

.nav .list__main-fun .list__secondary {
  display: none;
  padding-left: 1em;
}

.nav .nav-btn {
  position: absolute;
  top: 0px;
  right: -50px;
  font-size: 3rem;
  padding: 0.3em;
  color: #2eb0ca;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.nav .nav-btn:hover {
  color: #238396;
}

.nav .nav-btn:focus-visible {
  border: 1px solid black;
}

.nav-expand {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

main section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  position: relative;
  width: 500px;
}

.form label {
  display: block;
  margin-top: 1em;
  font-size: 2rem;
}

.form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0em;
  border: none;
  background: rgba(255, 255, 255, 0.452);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

.form__body {
  margin: 0 auto;
}

.form__body > .form__input-box {
  position: relative;
}

.form__body > .form__input-box i {
  position: absolute;
  right: 15px;
  bottom: 8px;
  font-size: 2.5rem;
  color: #2eb0ca;
}

.form__body button {
  display: block;
  margin: 2em auto;
  font-size: 2rem;
}

.form__footer {
  display: block;
  text-align: right;
}

footer {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: black;
  color: white;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.profile-edit {
  min-width: 700px;
  margin: 4em 0;
}

.profile-edit label {
  display: block;
  margin-top: 1em;
  font-size: 2rem;
}

.profile-edit input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0em;
  border: none;
  background: rgba(255, 255, 255, 0.452);
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.164);
  border-radius: 5px;
}

.profile-edit hr {
  background-color: #2eb0ca;
  width: 50%;
  margin: 0 auto;
}

.profile-edit__option {
  padding: 1em;
}

.profile-edit__option-header {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 0.5em;
}

.profile-edit__img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 2em auto;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
}

.profile-edit__btn-box {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-edit__form--delete {
  margin-top: 2em;
  text-align: center;
}

.profile-edit__form--delete p {
  margin: 0.2em 0;
}

.profile-edit__form--delete span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

.small-device {
  display: none;
}

.addColumns {
  margin-bottom: 1em;
}

.addColumns input[type="text"],
.addColumns select {
  width: 90%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.726);
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.397);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.397);
}

.addColumns tr {
  display: -ms-grid;
  display: grid;
  background: transparent;
  -ms-grid-columns: 2fr 2fr 2fr 1fr 1fr;
      grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
  text-align: center;
}

.addColumns thead tr {
  background-color: #3197ac8a;
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.addColumns tbody tr:nth-child(2n) {
  background: rgba(167, 167, 167, 0.466);
}

.addColumns tbody tr:nth-child(2n + 1) {
  background: rgba(206, 206, 206, 0.219);
}

.addColumns tbody tr {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.addColumns thead th {
  padding: 1em;
}

.addColumns td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.addColumns option:hover {
  background-color: #fff;
}

.addColumns .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addColumns .tabBtn {
  display: inline-block;
  height: 20px;
  width: 60px;
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  text-align: center;
  line-height: 20px;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.addColumns .tabBtn:focus {
  outline: none;
  border: 1px solid black;
}

.addColumns .add {
  border-bottom-left-radius: 90%;
  background-color: #5bd85b;
}

.addColumns .add:hover {
  background-color: #4db44d;
}

.addColumns .del {
  border-bottom-right-radius: 90%;
  background-color: #eb3c3c;
}

.addColumns .del:hover {
  background-color: #cc1313;
}

.addColumns input:disabled,
.addColumns select:disabled,
.addColumns input[type="checkbox"]:disabled + label {
  background-color: #bebebe;
  cursor: not-allowed;
}

.form__body--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__body--small label {
  font-size: 2rem;
}

.form__body--small select {
  width: 40%;
  margin-bottom: 1em;
}

.form__body--small button {
  padding: 0.5em 1em;
  margin: 1em 2em 4em 2em;
}

.form__body--small .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.truncate p {
  text-align: center;
}

.truncate p > span {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  letter-spacing: 2px;
}

.truncate button {
  font-size: 1.6rem;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 101;
}

.shadow .popup {
  min-width: 500px;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.shadow .popup h4 {
  margin-top: 0.6em;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

.shadow .popup p {
  margin: 3em 2em 1em 2em;
  padding: 1em;
  overflow: auto;
  max-height: 400px;
}

.shadow .popup p span {
  color: red;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.shadow .popup .popup__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1em;
}

.shadow .popup .popup__button-box button {
  font-size: 1.6rem;
}

.show-data td {
  border-right: 1px solid black;
}

.show-data tr > td:last-child {
  border-right: none;
}

.show {
  max-width: 80vw;
  overflow-x: auto;
}

.show table {
  display: table;
}

.show table tr {
  display: table-row;
}

.show table tr td, .show table tr th {
  display: table-cell;
}

.show tbody tr:hover {
  cursor: pointer;
  background: white;
}

.shadow-edit {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shadow-edit .popup {
  width: 80%;
  margin-bottom: 1em;
}

.shadow-edit .popup h4 {
  font-size: 2rem;
  font-weight: normal;
  color: #2eb0ca;
}

.shadow-edit .popup .secondary-btn-box {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shadow-edit .popup .secondary-btn-box button {
  font-size: 1.3rem;
  padding: 1em;
}

.shadow-edit .popup form .table-scroll {
  width: 90%;
  margin: 2em auto 1em auto;
  overflow-x: auto;
}

.shadow-edit .popup form .table-scroll::-webkit-scrollbar {
  height: 8px;
  border-radius: 60px;
}

.shadow-edit .popup form .table-scroll::-webkit-scrollbar-track {
  border-radius: 60px;
  background-color: #c5f5ff7c;
}

.shadow-edit .popup form .table-scroll::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background-color: #32a6bdb2;
}

.shadow-edit .popup form .table-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #32a6bd;
}

.shadow-edit .popup form table {
  display: table;
  max-width: 100%;
  border: 1px solid black;
}

.shadow-edit .popup form table tr {
  display: table-row;
}

.shadow-edit .popup form table th,
.shadow-edit .popup form table td {
  display: table-cell;
  padding: 0.5em;
  white-space: nowrap;
}

.shadow-edit .popup form table thead tr {
  background-color: #3197ac8a;
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shadow-edit .popup form table td {
  border-right: 1px solid black;
  padding: 0;
}

.shadow-edit .popup form table td textarea {
  height: 70px;
  resize: none;
}

.shadow-edit .popup form table td textarea,
.shadow-edit .popup form table td input {
  min-width: 200px;
  min-height: 70px;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.726);
  border: none;
}

.shadow-edit .popup form table td textarea:focus,
.shadow-edit .popup form table td input:focus {
  outline: none;
}

.shadow-edit .popup form table tr > td:last-child {
  border-right: none;
}

.show-data-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tuple-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10em;
}

.tuple-number button {
  border: none;
  font-size: 2rem;
  padding: 0.2em 1em;
  background-color: transparent;
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}

.tuple-number button:hover {
  color: #2eb0ca;
  -webkit-transform: scaleX(1.5) scaleY(1.2);
          transform: scaleX(1.5) scaleY(1.2);
}

.tuple-number p {
  margin: 0;
}

.advanced-query {
  width: 100%;
}

.advanced-query .hidden {
  display: none;
}

.advanced-query .title {
  font-size: 2rem;
}

.advanced-query p {
  font-size: 1rem;
  color: #6d6a6a;
  text-align: center;
}

.advanced-query__input-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.advanced-query__input-area textarea {
  height: auto;
  width: 60%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}

.advanced-query__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.advanced-query__btn-box button {
  font-size: 1.2rem;
}

.add-data table {
  display: table;
}

.add-data table tr {
  display: table-row;
}

.add-data table tr td, .add-data table tr th {
  display: table-cell;
}

.add-data .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-data .tabBtn {
  display: inline-block;
  height: 20px;
  width: 60px;
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  text-align: center;
  line-height: 20px;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.add-data .tabBtn:focus {
  outline: none;
  border: 1px solid black;
}

.add-data .add {
  border-bottom-left-radius: 90%;
  background-color: #5bd85b;
}

.add-data .add:hover {
  background-color: #4db44d;
}

.add-data .del {
  border-bottom-right-radius: 90%;
  background-color: #eb3c3c;
}

.add-data .del:hover {
  background-color: #cc1313;
}

.add-data table {
  border: 1px solid black;
}

.add-data table th {
  text-align: center;
  padding: 1em 2em;
  white-space: nowrap;
}

.add-data table thead tr {
  background-color: #3197ac8a;
  border: 2px solid black;
}

.add-data table tbody td {
  text-align: center;
  border-right: 1px solid black;
  background-color: white;
}

.add-data table tbody tr {
  border-bottom: 1px solid black;
}

.add-data table tr > td:last-child {
  border-right: none;
}

.add-data table textarea {
  height: 70px;
  resize: none;
}

.add-data table textarea,
.add-data table input {
  min-width: 150px;
  height: 60px;
  width: 100%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.726);
  border: none;
}

.add-data table textarea {
  min-width: 400px;
  width: 100%;
}

.add-data table textarea:focus,
.add-data table input:focus {
  outline: none;
}

.add-data .form__body-container {
  max-width: 80vw;
  overflow-x: auto;
}

.add-data .form__body-container::-webkit-scrollbar {
  height: 8px;
  border-radius: 60px;
}

.add-data .form__body-container::-webkit-scrollbar-track {
  border-radius: 60px;
  background-color: #c5f5ff7c;
}

.add-data .form__body-container::-webkit-scrollbar-thumb {
  border-radius: 60px;
  background-color: #32a6bdb2;
}

.add-data .form__body-container::-webkit-scrollbar-thumb:hover {
  background-color: #32a6bd;
}

a.logout {
  color: #ff4141;
}

a.logout:hover {
  color: red;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.info-box span {
  text-transform: uppercase;
  color: #2eb0ca;
}

@media (max-width: 768px) {
  .small-device {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ebebeb;
  }
  .small-device p {
    font-size: 4rem;
    font-weight: bold;
  }
  .small-device .dev-img-box {
    position: relative;
    margin-top: 2em;
  }
  .small-device .dev-img-box .phone {
    font-size: 12rem;
  }
  .small-device .dev-img-box::before {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 135%;
    width: 5px;
    background-color: red;
    -webkit-transform-origin: top;
            transform-origin: top;
    content: "";
  }
  .small-device .dev-img-box::before {
    -webkit-transform: rotateZ(-32deg);
            transform: rotateZ(-32deg);
  }
  .header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    display: none;
  }
}
/*# sourceMappingURL=panel.css.map */